*{
    margin: 0%;
    padding: 0%;
}

.TodoDiv{
    border: solid 2px red;
}

.TodoDiv{

    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    margin: auto;
    top: 45px;
    margin: auto;
    width: 1000px;
}