* {
  background-color: rgb(163, 153, 153);
  text-align: center;
}
#title {
  font-weight: bold;
  text-decoration: underline;
  font-size: x-large;
  margin-top: 100px;
  background-color: white;
}
.List-container{
  border: rgb(16, 17, 17) solid 1px;
  border-radius: 50%;

  
}

#list {
  padding: 10px;
  font-size: medium;
  color: rgb(10, 10, 10);
  background-color: beige;
  background-color: rgb(247, 236, 238);
  border-radius: 0%;
}
#delete {
  margin: 5px;
}
#form {
  margin: 15px;
  text-align: center;
  color: rgb(17, 3, 3);
}
#label {
  padding: 10px;
}

#new-task {
  background-color: white;
  margin: 5px;
}
