*{
    background-color: rgb(122, 207, 233);
    text-align: center;
}
#title{
    font-weight: bold;
    text-decoration: underline;
    font-size:x-large;
    margin-top: 100px;
}
#list{
    padding:0%;
    margin: 30px;
    font-size: medium;
    border: grey solid 1px;
}

todos{
    border: wheat solid 2px;

}

#check{
    height: 20px;
    width: 30px;
}